# Editors temp files
*.swp
*~

# SCRAM business
__init__.py
*.pyc

# CRAB3 stuff
crab_*
crabConfig_*

# ROOT-related files
*.root
*_cc.d
*_cc.so
*_C.d
*_C.so
*\#*
.\#*
AutoDict_*

# Other temp files
*.txt
*.log
*.png
*.pdf

# This is a symlink created by setup.sh
DataFormats/src/classes_def.xml
DataFormats/src/classes_def.xml.generated



#AC Specific Files to ignore
MetaData/data/cross_sections.json_bkp
Systematics/test/scripts*
Systematics/test/WH_anom_dumper.py
Systematics/test/ZH_anom_dumper*
Systematics/test/run_18UL_Summer20.sh
Systematics/test/run_timed_jobs.sh

QGL_AK4chs_94X.db
.vscode/
MetaData/data/datasets.json
generate_SampleJSON/
check_sample.sh

MetaData/data_bkp_bkp
